<footer>
    <div class="footer-content">
        <ul class="socials">
            <li><a href="https://www.facebook.com/profile.php?id=100009175562831" target="_blank"><i class="fa fa-facebook"></i>
                </a></li>
            <li><a href="anchitarya1998@gmail.com" target="_blank"><i class="fa fa-google-plus"></i> </a></li>
            <li><a href="https://www.linkedin.com/in/anchit-arya-5637ba211/" target="_blank"><i
                        class="fa fa-linkedin-square"></i> </a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p class="cursive"><strong>GO GREEN</strong></p>
        <p>copyright &copy;2022 Designed by Anchit</p>
    </div>
</footer>